/*##### GENERAL #####*/

@font-face {font-family:Myriad Pro SemiCondensed Light;src:url(MyriadPro-LightSemiCn.otf)}
@font-face {font-family:Myriad Pro SemiCondensed;src:url(MyriadPro-SemiCn.otf)}
@font-face {font-family:Myriad Pro SemiCondensed SemiBold;src:url(MyriadPro-SemiboldSemiCn.otf)}
html{background:#202937}
body {position:relative;font-family:'Myriad Pro SemiCondensed Light';font-size:12px;color:rgba(32,41,55,.9);background:white;width:calc(21cm - 5px);height:calc(29.7cm - 5px);margin:auto;padding:5px}
a{text-decoration:none;color:inherit}
	a:hover{/*opacity:.5;*/
		text-decoration:underline}
table{border-spacing:0}
td, ul{padding:0;margin:0}
ul+span {display: block;padding:0 0 3px 5px}
b{font-family:'Myriad Pro SemiCondensed SemiBold';font-weight:inherit}

/*##### HEADER #####*/

header{height:100px;color:white;/*margin:-5mm;*/margin:-5px;padding:0;background:hsl(172deg 45% 37%);height:15mm;padding:5px}
	header * {color:white;text-decoration:none}
	header img#me{height:91px;border-radius:0 100% 100% 100%;float:left;border:5px solid white;margin:0 24px -2mm 0}
	header>a{float:left}
	header>a#photo{background:white;border-radius:0 100% 100% 0;width:101px;margin:-5px}
	header>a#name{padding:0 15px}
	header #firstname{margin:0;font-size:7mm;/*font-weight:lighter*/}
	header #lastname{margin:0;font-size:16px;/*font-weight:lighter*/;text-transform:uppercase}
		header #contact{float:right;font-size:12px;height:100%}
			header #contact td{padding:0 5px}
			header #contact .fas{width:100%;text-align:center}/*header #contact #social {float:right;clear:both;margin-top:-30px;}*/
					#social img{height:16px;/*display:inline-block;*/}
	header div#social {position:absolute;right:5mm;top:26mm;font-size:15px;clear:left}
	#intro{font-size:15px;margin:10px 5px 0 105px}
	.droite {text-align:right; float: right}

/*##### SECTION #####*/

/*section{margin:2px 0 0 0}*/
section:first-of-type {clear:both}
section#experience{float:left;width:642px}
	section#experience h1{margin-left:-5px;border-radius:0 0 12px 0}
section#education{float:left;width:14.5cm}
section#interests, section#skills, section#languages, section#education{width:5.1999cm;/*5cm buggy on FF*/width:123px;float:right}
	section#interests h1, section#skills h1, section#languages h1, section#education h1{margin-right:-5px;border-radius:0 0 0 12px}
	section>div>.fas{font-size:15px;/*color:#c0784b;*/color:#905029;line-height:20px;width:21px;margin: 0 7px 0 3px;text-align:center}
	section h1{font-weight:normal;font-size:15px;background:hsl(172deg 40% 20%);color:white;padding:4px 8px;margin: 10px 0 6px 0;/*text-transform:uppercase*/}
		section h1 .fas{margin-right:7px}
	section .date{height:37px;text-align:right;position:absolute;width:49px;left:-23px;top:15px;line-height:12px;transform:rotate(-90deg);white-space:nowrap;font-size:10px;font-family:'Myriad Pro SemiCondensed SemiBold';overflow:hidden}
	section .date::after {content:/*'\f111'*/'|';/*font-family:'Font Awesome 5 Free';*/font-size:15px;color:rgb(199,167,147);position:absolute;top:13px;left:44px}
	section .row {float:left;clear:left;margin:0 0 5px 0px}
	section .row * {float:left}
	section .row:last-of-type {margin-bottom:0}
	ul.frise{list-style:none;padding-left:15px;overflow:hidden}
	.frise>li {border-left:2px solid rgb(199,167,147);position:relative}/*.frise>li:last-of-type {padding-bottom:40px}*/
	.frise h2{margin:0;/*137 = 15 + 7 + 15*/font-size:100%;font-weight:normal;padding:3px 0;display:inline-block;width:100%;position:relative;z-index:1}
		.bubble {background:hsl(172deg 45% 37%);color:white;line-height:14px;padding:3px 5px 2px 6px;display:inline-table;/*max-width:232px*/;display:inline-block;float:left;border-radius:7px 0 0 7px;/*font-weight:600*//*}
		section#language .bubble, section#interests .bubble, section#education .bubble{*/border-radius: 7px 0 7px 7px}
		section#experience .bubble, section#education .bubble{margin-left:5px}/*section#interests .bubble {margin-right:10px}*/
		section#education .bubble {max-width:88px}
		.two_lines .bubble{max-width:215px/*;border-radius:7px 0 7px 7px*/}
		.bubble:before{display:inline-block;content:"";border:4px solid transparent;border-right-color:hsl(172deg 45% 37%);border-left:none;margin-left:-9px;margin-right:5px}/*h2.two_lines {height:40px}*/
		.row *{float:left}
		section h2 span:nth-of-type(2).fonction{border:1px solid hsl(172deg 45% 37%);padding:0 5px 0 10px;border-left:none;line-height:17px;display:inline-block;vertical-align:top;border-radius:0 0 8px 0;margin:0 0 0 -5px} /*section h2.two_lines span:nth-of-type(2):not(:last-of-type){height:38px;line-height:38px}*/
		.two_lines .fonction{/*height:31px;*/max-width:82px;line-height:13px!important;padding:3px 5px 2px 6px!important}
		section h2 span:nth-of-type(3):not(:last-of-type){margin-left:5px}
		section span.lieu{float:right;text-align:right;opacity:.5;line-height:20px;font-family:'Myriad Pro SemiCondensed';}
		section#education span.lieu{margin-left:10px;float:none}
			section h2.two_lines span:last-of-type{//max-width:75px}
	section .desc{padding:0 0 3px 0/*35px 0 10px 15px;margin:-30px 0 -5px 0*/}/*section.frise .desc {margin-left:49px;padding-bottom:20px;display:inline-block}*/
		/*section.frise .desc:last-of-type {padding-bottom:0}*/
		section h2+div span {//display:inline-block;//text-align:justify!important}
		section h2+div li {//margin-top:5px;/* font-weight:bold;*/}
		section .fa-code::before{color:#905029}
	section#interests .desc {padding:5px 0 0 0px;margin:-4px 0 0 30px;display:block;float:none;clear:left}
	/*section#education .desc{padding-top:70px;margin-top:-70px;//text-align:justify}*/
	section h2+div:last-child{padding-bottom:0}
	section>table{width:100%;margin-top:-10px}
		section>table td{padding:5px 10px;vertical-align:top}
			section>table td .fas{width:100%;text-align:left;font-size:15px;color:hsl(172deg 45% 37%)}
	section#languages .drapeau {background:url('images/uk2.svg') 74%/28px no-repeat;width:16px;height:16px;border-radius:100%;margin:0 7px;margin-top:-2px}
	section#languages .drapeau#es{background-image:url('images/es.svg')}/*section#languages .flag {border-radius:100%;opacity:.7}*/
	section#languages .score {border:1px solid rgba(220,80,60,1);border:1px solid hsl(172deg 45% 37%);height:12px;box-sizing:border-box;width:90px} /*section#languages .score.fr {border-left-width:110px}*/
	section#languages .score.en {border-left-width:87px}
	section#languages .score.es {border-left-width:62px}
	section#languages .score+div {margin-top:2px/*;float:right*/}
	section#skills li {border:1px solid #DDD;color:black;display:inline-block;line-height:20px;padding:0 5px;margin:0 -1px -1px 0/*;font-weight:bold*/}
	.desc li {list-style:none;position:relative;padding:0 0 0 10px}
	.desc li:not(:only-of-type):before {content:"";border-left:4px solid rgb(199,167,147);border-top:4px solid transparent;border-bottom:4px solid transparent;display:inline-block;width:5px;margin:0 2px 0 -11px}
	/*section#social a>.fa{font-size:25px;color:hsl(172deg 45% 37%)}*/